:root {
    --navbar-height: 6rem;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: gray;
    /* overflow-x: hidden; */
}
.Navbar{
    padding-left: 30px;
    width: 100%;
    height: var(--navbar-height);
    background-color: rgb(70, 64, 121);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Navbar div{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.Navbar div *{
    padding: 0px 6px;
    margin: 0px 4px;
    line-height: var(--navbar-height);
}

.Name{
}

.Navbar a{
    padding: 0px 6px;
    margin: 0px 4px;
    line-height: normal;
    background-color: rgb(70, 64, 121);
    text-decoration: none;
    color: black;

    border-radius: 5px;
    transition: padding-top 0.3s ease;
}

.Navbar a:hover{
    color: rgb(27, 27, 27);
    padding-top: 10px;
}

/* ::view-transition-group(root) {
    animation-duration: 0.3s;
}

:root:active-view-transition .Navbar a {
    border-bottom: 2px solid black;
    border-radius: 7px;
} */

/* .Navbar a:hover ~ .Test {
    background-color: rgb(255, 0, 0);
} */

/* .NavButtons .Test {
    margin: 0px 0px;
    padding: 0px 1px;
    align-self: normal;
    
} */

.Socials a{
    font-size: 2rem;
    padding: 0px 5px;
    margin: 0px 2px;
}

.Socials i {
    padding: 0px 0px;
    margin: 0px 0px;
}

.ProjectAreaPlacement {
    /* display: inline-block; */
    /* margin: 0rem 5rem; */
    display: flex;
    justify-content: center;
}

.ProjectArea {
    display: inline-block;
    margin: 2% 2%;
    display: flex;
    flex-wrap: wrap;
    /* margin: 0 auto; */
    background-color: rgb(36, 51, 75);
    border-radius: 10px;
    width: 100%;
    /* padding: 15px 15px 100px 15px; */
    /* padding: 15px; */
}

.Nautilus  {
    display: inline-block;
    width: 40%;
    margin: 5% 5%;
    background-color: rgb(46, 65, 94);
    border-radius: 10px;
    /* padding: 15px 15px 100px 15px; */
    padding: 15px;
}

.NautilusPrev * {
    /* width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 7px;     */
}

.NautilusDesc {
    width: 100%;
    height: auto;
    margin-top: 7px;
    background-color: rgb(240, 248, 255, 0.671);
    /* background-position: center; */
    /* background-size: cover; */
    border-radius: 7px;
    padding: 15px;

}


.ProjectImage{
    width: 100%;
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 7px;
}
.ProjectVideo {
    width: 100%;
    height: 100%;

    border-radius: 7px;

    opacity: 0;
    transition: opacity 0.3s ease;
}

.ProjectVideo:hover{
    opacity: 1;
}
